
.app-header {
    align-items: flex-end;
    justify-content: space-between;
}

.app-header h1 {
   font-size: 26px;
   margin-bottom: 20px;
}

.app-header h2 {
   font-size: .9em;
   color: rgb(97, 74, 128);
}